<div class="row text-center">
    <div class="span2">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn disabled" href="#"><i class="icon-backward"></i></a>
            <a class="btn disabled" href="#"><i class="icon-play"></i></a>
            <a class="btn disabled" href="#"><i class="icon-forward"></i></a>
          </div>
        </div>
    </div>
    <div class="span10">
        <div>
            <span class="name"><%= name %></span>
        </div>
        <canvas class="span10" height="50"></canvas>
    </div>
</div>
