@import 'sass-bootstrap/lib/bootstrap';

body {
  background-color: #E0E0E0;
  overflow-x: hidden;
  margin-bottom: 50px;
}
.track-container {
  .track, canvas {
    margin: 0;
  }

  .track {
    overflow-x: scroll;
  }

  canvas {
    display: block;
  }

  .btn-group {
    i {
      vertical-align: top;
    }
    .slider {
      margin: 0 10px;
    }
  }
}