@import 'sass-bootstrap/lib/bootstrap';

body {
  background-color: #E0E0E0
}
.track-container {
  .track, canvas {
    margin: 0;
  }

  .track {
    overflow-x: scroll;
  }

  canvas {
    display: block;
  }

  .btn-group {
    & > .volume, & > .slider {
      vertical-align: bottom;
    }
    .slider {
      margin: 0 10px;
    }
  }
}